<div class="main-page">
  <div class="profile">
    <div class="my-pic-space">
      <img
        src="../../../assets/images/my_picture.jpg"
        alt="My picture"
        class="picture"
      >
    </div>
    <div class="name">Aravindh Nagarajan</div>
    <div class="links">
      <a
        href="https://github.com/arvi-aris/"
        target="_blank"
        class="link"
      >
        <img
          src="../../../assets/images/github.png"
          alt="Github"
          />
        </a>
      <a
        href="https://www.linkedin.com/in/aravindh-nagarajan-58b91191"
        target="_blank"
        class="link"
      >
        <img
          src="../../../assets/images/linkedin.png"
          alt="LinkedIn"
        />
      </a>
      <a
        href="https://twitter.com/arvi_nagaraj"
        target="_blank"
        class="link"
      >
        <img
          src="../../../assets/images/twitter.png"
          alt="Twitter"
        />
      </a>
    </div>
    <div class="cv-link">
        <a
          target="_blank"
          href="../../../assets/documents/aravindh_resume.pdf"
          alt="CV"
        >
          CV
        </a>
    </div>
  </div>
</div>
